.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
#header{
    background:rgb(0, 72, 75);
    height: 70px;
}
h1{
    color: #fff;
}
button{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    

}
nav a{
   padding: 0 60px;
   color: #fff;
   text-decoration: none;
}